/.gradle
/.idea
/build
/gradle
gradlew
gradlew.bat
/*.iml
/*.apk
local.properties
Thumbs.db
/src/main/java/com/squareup/okio/package-info.java
/src/main/assets/leaflet.min.js
/gradle/wrapper/*.jar
/gradle/wrapper/*.properties
manifest-merger-release-report.txt
